html, body {
  height: 100%;
  width: 100%;
  }

body {
	font-family: Helvetica, Arial, sans-serif;
  background-color: #e0e0e0;
	background-size: cover;
	text-align: center;
}

p {
	color: white;
	font-size:150%;
	text-shadow:0 1px 5px rgba(0,0,0,.1);
}

h1 {
	color:#fff;
	font-size:1125%;
	letter-spacing:0;
	text-shadow:0 1px 5px rgba(0,0,0,.1);
}

h2 {
	color:#fff;
	font-size:337.5%;
	letter-spacing:0;
	white-space:nowrap;
	}

#container {
	height: 100%;
  width: 100%;
  background: 
    linear-gradient(
      rgba(85,85,85,0.5), 
      rgba(85,85,85,0.3) 
    );
}	

#top {
	padding-top: 10px;
}

#bottom {
	font-size:80%;
	position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  display: block;
  width:100%;
  text-align: center;
}

#center {
	display: block;
  position: relative;
  top: 40%;
  line-height: normal;
  margin: auto;
  margin-top: -100px;
}​


.btn {
    padding: 40px 40px 40px 40px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}